<% if @articles.present?%>
  <%i= 0 %>
  <% @articles.each do |article|%>
    <div class="card-8">
      <div class="row ">
        <div class="col-12 col-sm-12 col-md-11">
          <div class="row">
            <div class="col-4">
              <%= image_tag article.image.url,class: "article-image"%>
            </div>
            <div class="col-">
              <h3 class="title"><%= article.article_name %></h3>
            </div>
            <div class="col-8">
              <p class="article-description more"><%= article.description %></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-11">
          <div class="row align-items-center">
            <% unless article.user_id == current_user.id %>
              <div class="col-12">
                <%= link_to "", "", class: "fa fa-thumbs-up"%>
              </div>
            <% end %>
            <% if current_user.admin || article.user_id == current_user.id %>
              <div class="col-12">
                <%= link_to "", edit_article_path(article), class: "fa fa-edit" %>
              </div>
              <div class="col-12">
                <%= link_to "", article_path(article), method: :delete, class: "fa fa-trash"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<%else%>
  <div class="card-8">
    <div class="row ">
      <div class="col-12">
        <p class="text-center">No Record Found</p>
      </div>
    </div>
  </div>
<% end %>